html{
    overflow-x: hidden !important;
}
.typewriter-title{
    font-size: 40px;
    height: 41px;
    box-sizing: border-box;
}
.blank-box{
    height: 191.5px;
}

/* Navegação */
span.nav-link{
    cursor: pointer;
    font-size: 20px;
}

/* sobre.js */
#sobre{
    max-width: 100%;
}
.sobre{
    background-color: #111111;
}

@keyframes text-title-slide{
    from{
        margin-top: 0px;
        opacity: 0;
    }
    to{
        margin-top: 50px;
        opacity: 1;
    }
}
@-webkit-keyframes text-title-slide {
    from {
        margin-top: 0px;
        opacity: 0;
    }

    to {
        margin-top: 50px;
        opacity: 1;
    }
}
@-moz-keyframes text-title-slide {
    from {
        margin-top: 0px;
        opacity: 0;
    }

    to {
        margin-top: 50px;
        opacity: 1;
    }
}
@-o-keyframes text-title-slide {
    from {
        margin-top: 0px;
        opacity: 0;
    }

    to {
        margin-top: 50px;
        opacity: 1;
    }
}

@keyframes text-fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@-webkit-keyframes text-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@-moz-keyframes text-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@-o-keyframes text-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#titulo-sobre{
    animation-name: text-title-slide;
    animation-duration: 2000ms;
    animation-fill-mode: both;
    -webkit-animation-name: text-title-slide;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-name: text-title-slide;
    -moz-animation-duration: 2000ms;
    -moz-animation-fill-mode: both;
    -o-animation-name: text-title-slide;
    -o-animation-duration: 2000ms;
    -o-animation-fill-mode: both;
}
#texto-sobre{
    font-size: 20px;
    font-weight: normal;
    margin-left: 10px;
    animation-name: text-fade;
    animation-delay: 1400ms;
    animation-duration: 2000ms;
    animation-fill-mode: both;
    -webkit-animation-delay: 1400ms;
    -webkit-animation-name: text-fade;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-delay: 1400ms;
    -moz-animation-name: text-fade;
    -moz-animation-duration: 2000ms;
    -moz-animation-fill-mode: both;
    -o-animation-delay: 1400ms;
    -o-animation-name: text-fade;
    -o-animation-duration: 2000ms;
    -o-animation-fill-mode: both;
}

#foto-victor{
    width: 311px;
    height: 530px;
}

.side-md-pic{
    position: relative;
}

#foto-victor-md{
    width: 286px;
    height: 505px;
    position: absolute;
    bottom: 0;
}

/* botão navbar outline */
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none !important;
}
.teste{
    border: 1px solid blue;
}
/* habilidades.js */
.skill-box{
    animation: skill-fade 3000ms both;
    -webkit-animation: skill-fade 3000ms both;
    -moz-animation: skill-fade 3000ms both;
    -o-animation: skill-fade 3000ms both;
    box-shadow: 20px 20px 40px #111111;
    border: 3px solid #111111;
}
.skill-box:hover{
    border: 3px solid blue;
    transition: 3s;
}
.html5, .react, .bootstrap, .nodejs, .jquery, .mongodb{
    height: 100px;
    width: 100px;
}
.css3, .javascript{
    height: 100px;
    width: 70px;
}
.sass, .php7, .express, .mysql{
    height: 100px;
    width: 150px;
}

@keyframes skill-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes skill-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes skill-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes skill-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* experiencias.js */
 /**** As configurações css da timeline de qualificações estão em timeline.css****/

.btn-main{
    background: rgb(33, 0, 247);
    background: linear-gradient(56deg, rgba(33, 0, 247, 1) 0%, rgba(52, 0, 116, 1) 49%, rgba(145, 0, 149, 1) 100%);
    border: 2px solid white !important;
    color: white !important;
    margin-bottom: 20px;
}
/* portifolio.js */
.portifolio{
    height: 500px;
    margin-top: 90px;
    margin-bottom: 120px;
}
/* footer.js */
#footer{
    height: 300px;
    padding-top: 30px;
}
.redes{
    font-size: 30px;
}
.redes a,
a:visited,
a:active {
    color: inherit;
}
a:hover{
    color: #3d008d !important;
}